@font-face {
  font-family: Canela;
  src: url(assets/Canela-Light.ttf);
}

@keyframes slide {
  from { left: 100%;}
  to { left: -100%;}
}
@-webkit-keyframes slide {
  from { left: 100%;}
  to { left: -100%;}
}

html {
  background-color: black;
  font-weight: 100;
}

a {
  font-weight: 400;
  color: white;
}

.big {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
}

.runninghead {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  padding: 10px;
  padding-bottom: 15px;
  /*border-bottom: 1px solid white;*/
  overflow-x: hidden;
  width: 97.5%;
  margin: auto;
}

.realnow {
  width: 110%;
  font-family: "Canela", serif;
  position:absolute;
  top:0;
  left:0;
  animation-name: slide;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 30s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count: infinite;
}

#runner {
  overflow-x: scroll;
}

.timedown {
  margin-top: 3vh;
}

#count {
  
  font-family: "Canela", serif;
  font-size: 40;
  color: white;
  text-align: center;
}

.lettering {
  font-family: "Canela", serif;
  font-size: 40;
  color: white;
  text-align: center;
  
}

.medline {
  height: 20vh;
  border-left: 0.5px solid white;
  width: 1px;
  margin: auto;
}

.bigline {
   height: 80vh;
  border-left: 0.5px solid white;
  width: 1px;
  margin: auto;
}

#bottom {
  width: 60%;
  margin: auto;
}

#longing {
  height: 80vh;
}

#top {
  margin-top: 10vh;
}

#triage {
  width: 60%;
  margin: auto;
  padding-bottom: 15px;
}
