@font-face {
  font-family: Canela;
  src: url(assets/Canela-Light.ttf);
}


html {
  background-color: black;
  font-weight: 100;
}

div {
  line-height: 1.6;
}

a {
  font-weight: 100;
  color: white;
  text-decoration-line: underline;
}

.big {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
}



.timedown {
  margin-top: 3vh;
}

#count {
  
  font-family: "Canela", serif;
  font-size: 40;
  color: white;
  text-align: center;
}

.lettering {
  font-family: "Canela", serif;
  font-size: 40;
  color: white;
  text-align: center;
  
}

.medline {
  height: 20vh;
  border-left: 0.5px solid white;
  width: 1px;
  margin: auto;
}

.bigline {
   height: 80vh;
  border-left: 0.5px solid white;
  width: 1px;
  margin: auto;
}

#bottom {
  width: 60%;
  margin: auto;
}

#longing {
  height: 20vh;
}

#top {
  margin-top: 10vh;
}

#triage {
  width: 60%;
  margin: auto;
  padding-bottom: 15px;
}

@media only screen and (max-width: 1000px) {
 #triage {
  width: 95%;
  margin: auto;
  }
  
  #bottom {
  width: 95%;
  margin: auto;
  }
  
  .timedown {
    width: 95%;
  margin: auto;
  }
}
